body,
html {
    margin:0;
    padding:0;
    background:#FFFFE6;
    color:#000;
    }
    
body {
    min-width:750px;
    font-size:14px;
    font-family:arial, helvetica, sans-serif;
    }

a:link, a:visited, a:hover {
    color:#666699;
    font-weight:bold;
}

a:hover{
    color:blue;
}

#wrap {
    background:#9999FF;
    margin:0 auto;
    width:750px;
    border-left:2px solid #9999FF;
    border-right:2px solid #9999FF;
}

#nav {
    height:20px;
	margin:0;
    background:#FFFFE6;
    border-top:2px solid #9999FF;
    border-bottom:2px solid #9999FF;
}

/* tab section begins */
/* current tabs borrowed from http://diveintomark.org/archives/2003/03/24/pure_css_tabs for IE6 compatibility - thanks mark! */

#navbar {
    margin:0;
    padding:7px 0 0 0;    
    margin:0;
    height:0;
}

#navbar ul {
  display: block;
  list-style: none outside;
  padding: 0;
  margin: 0px 0 0 10px;
  font-family: Verdana, sans-serif;
  font-size: x-small;
}

#navbar li {
  padding: 0;
  margin: 0 4px 0 0;
  border-top: 1px solid #9999FF;
  border-right: 1px solid #9999FF;
  border-left: 1px solid #9999FF;
  background-color: #000066;
  color: #ffffff;
  font-weight: bold;
  /* the next 4 lines are magic */
  display: block;
  float: left;
  position: relative;
}

#navbar a:link,
#navbar a:visited {
  background-color: #CCCCFF;
  color: black;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

#navbar a:hover {
  background-color: #cecbc6;
  color: #000066;
}

#navclear {
  display: none;
}

html>body #navclear {
  display: block;
  clear: both;
}

/* ----- now highlight active tab based on body @class attribute ----- */

body.home #navbar li#nav-home a,
body.webif #navbar li#nav-webif a,
body.dload #navbar li#nav-dload a,
body.support #navbar li#nav-support a,
body.faq #navbar li#nav-faq a,
body.developers #navbar li#nav-developers a,
body.search #navbar li#nav-search a,{
  background-color: #fff;
  color: #000066;
}


#main {
    margin:0;
    padding:0;   
    background:#CCCCFF;
    border-top:2px solid white;
    border-right:2px solid white;
    float:left;
    width:598px;
}
    
#header h1 {
    padding:5px;
    margin:0;
    background:#CCCCFF;
    font-family:times;
    font-size:36px;
    border-top:2px solid #9999FF;
    border-bottom:2px solid white;
}


#main h2, #main h3, #main p {
    padding:0 10px 0 10px;
    }
    
#main h2 {
    border-bottom:2px solid #9999FF;
    margin-left:5px;
    margin-right:10px;
    padding:0;
}

#sidebar {
    border-top:2px solid white;
    text-align:center;
    background:#9999FF;
    float:right;
    width:150px;
}

#sidebar a:link {
    color:black;
}              

#sidebar a:hover {
    color:blue;
}
    
#sidebar ul {
    padding:0;
    margin:20px 0 0 0;
    list-style:none;
}

#sidebar img{
    margin-top:20px;
    padding:0;
}

#sidebar h3, #sidebar p {
    padding:0 10px 0 0;
}
    
#footer {
    clear:both;
    text-align:right;
    background:#9999FF;
    border-top:2px solid white;
    border-bottom:2px solid #9999FF;   
}

#footer p {
    font-family:arial;
    font-size:12px;
    padding:5px;
    margin:0;
}

#footer a {
    color:black;
}